@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$font-family-sans-serif:           'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:                    16px;
$navbar-default-bg:                #fff;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 4);
